body {
  text-align: center;
  background-color: #F0F0F0;
  font-family: "Montserrat", sans-serif;
}

.header { background-color: #0077CC; color: #FFFFFF; }

.footer { font-style: italic; }

.container {
  border: 3px solid #0077CC;
  border-radius: 5px;
  background-color: #FFFFFF;
  width: 70%;
  margin: auto;
  padding: 20px;
  max-width: 700px;
}

table { width: 100%; border-collapse: collapse; margin-top: 30px;}

.team { text-align: left; width: 40%; }

.clicks { text-align: right; width: 40%; }

th { color: #C0C0C0; font-size: 0.7em; }

tbody > tr:nth-child(even) { background: #EBF5FB; }

tbody > tr:nth-child(odd) { background: #D6EAF8; }

td, th { padding: 5px; }

td { font-weight: bold; }

.team-select { padding: 10px; }

button {
  background-color: #0077CC;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 3em;
  padding: 10px;
  font-weight: bold;
  width: 100%;
}

input {
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  font-style: italic;
}

#team-name { width: 80% ;}

h2 { font-weight: normal; }

.session-link { margin: 10px; }

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.clicks-label {
  font-style: italic;
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 0;
}

.clicks-score {
  font-size: 3em;
  color: #0077CC;
  font-weight: bold;
  margin: 0 0 0 0;
}

#selected-team-row {
  background-color: #0077CC;
  color: #FFFFFF;
  font-size: 3em;
  font-weight: bold;
}

blockquote { font-style: italic; display: inline-block; }
blockquote > footer { text-align: right; margin-top: 10px; }
